---
import Main from '@/layouts/main.astro';
import HeroSection from '@/components/hero-section';
import AboutSection from "@/components/about-section";
import NewArrivalSection from "@/components/new-arrival-section"
import Footer from "@/components/footer"
import Copyright from "@/components/copyright"
// Component Imports
import Button from '../components/Button.astro';
---

<Main title='NFTWRLD'>
  <HeroSection client:load />
  <AboutSection />
  <NewArrivalSection client:load/>

</Main>
