---
import Footer from '@/components/footer';
import '../styles/global.css';
import Copyright from '@/components/copyright';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your store description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="font-oswald">
    <div class="h-16 w-full bg-black px-16 py-4 flex flex-row justify-center">
      <div class="h-9">
        <img class="h-full" src="/assets/white-logo.png">
      </div>
    </div>
    <slot />
  <Footer />
  <Copyright />
  </body>
</html>

<style is:global>
</style>
